{% include head.html %}

<body>
    <div class="container-fluid px-0">

    {% include header.html %}

    {% include artigos.html %}

    {% include footer.html %}

    </div><!-- FINAL DA container -->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5f5d573d4704467e89ee77c0/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
</body>
</html>
