{% include head.html %}

<body>
  <script type="application/ld+json">
   {
     "@context": "http://schema.org",
     "@type": "WebSite",
     "url": "http://ahnix.github.io/",
     "potentialAction": {
       "@type": "SearchAction",
       "target": "http://ahnix.github.io//tags#{search_term_string}",
       "query-input": "required name=search_term_string"
     }
   }
   </script>
    <div class="container-fluid px-0">

    {% include header.html %}

    {% include about.html %}
<br>
</br>
<div class="row container mt-5">
  <div class="col-md-3 mx-auto">
  <h3 class="title with-icon"><span class="fa fa-code cat-title"></span>  Nossas Skills </h3>



                <div class="grid-block">
                    <ul class="list-unstyled list-skills">
                      <li>
                              <span class="caption-skill">Linux</span>
                              <div class="progress">
                                  <div class="progress-bar" style="width: 100%">
                                      <span>100% </span>
                                  </div>
                              </div>
                      </li>
                      <li>
                              <span class="caption-skill">Docker</span>
                              <div class="progress">
                                  <div class="progress-bar" style="width: 100%">
                                      <span>100% </span>
                                  </div>
                              </div>
                      </li>
                      <li>
                              <span class="caption-skill">Bash/sh</span>
                              <div class="progress">
                                  <div class="progress-bar" style="width: 100%">
                                      <span>100% </span>
                                  </div>
                              </div>
                      </li>
                            <li>
                                    <span class="caption-skill">HTML</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%">
                                            <span>100% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                    <span class="caption-skill">PHP</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%">
                                            <span>70% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                    <span class="caption-skill">Bootstrap</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 90%">
                                            <span>90% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                    <span class="caption-skill">JavaScript</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%">
                                            <span>100% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                    <span class="caption-skill">Vue</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%">
                                            <span>100% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                    <span class="caption-skill">ReactJS</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%">
                                            <span>100% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                    <span class="caption-skill">AngularJS</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%">
                                            <span>70% </span>
                                        </div>
                                    </div>
                            </li>
                            <li>

                                    <span class="caption-skill">Java/Java EE</span>


                                    <div class="progress">
                                        <div class="progress-bar" style="width: 90%">
                                            <span>90% </span>
                                        </div>
                                    </div>

                            </li>

                    </ul>
                </div>
</div>
                <div class="col-md-4">
                <h3 class="title with-icon"><span class="fa fa-globe cat-title"></span> Idiomas </h3>
                    <ul class="list-unstyled list-strip">
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">Nativo</span>Português
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">Professional</span>English
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i> <span class="badge badge-green badge-right-float">Limit</span>Espanhol/Italiano
                                    </li>
                    </ul>
                </div>
    </div>

    <p class="text-center mt-5">
        <a type="button" class="btn btn-danger btn-lg" href="/blog"> Veja nossos artigos </a>
    </p>

    {% include footer.html %}

    </div><!-- FINAL DA container -->

    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5f5d573d4704467e89ee77c0/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
</body>
</html>
